/* Create a few variables for reuse below */
:root {
    --button-background: rgb(81, 0, 128); 
    --button-hover:  rgba(81, 0, 128, 0.5);
    --button-color: white;
}

/* Format the buttons, including answer choices and view quiz list nav item */
button, #submit-initials {
    background-color: var(--button-background);
    color: var(--button-color);
    padding: 2px;
    border: none;
}

button:hover, #submit-initials:hover {
    background-color: var(--button-hover);
    cursor: pointer;
}

#clear-quiz-scores-btn:disabled {background-color: var(--button-hover);}

#go-back-btn, #clear-quiz-scores-btn, #start-quiz-btn {margin: 2% 5%;}

#nav-btn {
/* Reversed the button colors for this */
    background-color: var(--button-color);
    color: var(--button-background);
    margin-left: 10%;
    width: 100%;
}

#nav-btn:hover {text-decoration: underline;}

#time-hdr {color: var(--button-background);}

/* Setup default font and sizes */
body {
    font-size: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
  
h1 {font-size: 2.5em;}

h2 {
    font-size: 1.875em;
    margin-bottom: 3%;
}

p {font-size: 1em;}

header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 10%;
}

main {
    position: absolute; /* position and top are how I set a top margin based on height rather than width. */
    top: 25%;
    text-align: center;
    width: 100%;
    padding: 0% 25%; /* Set left and right padding only */
}

.question-header {margin-bottom: 3%;}

/* format the questions and answer choices to all be left justified with friendly margins and on separate lines */
.answer-btn, .question-header {
    display:block;
    text-align: left;
    margin-top: 1%;
}

#answer-feedback {
    font-style: italic;
    color:gray;
}

/* Allow the table to be positioned/justified as text */
#score-table {display: inline-table;}

th {padding: 0 5px;}

#initial-entry-form {margin-top: 3%;} 

/* format the error message options used when submitting invalid initials */
.white-red {
    background-color: red;
    color: white;
}

.red-white {
    background-color: white;
    color: red;
}